<div>
    <h1>Grab a New Store, Bruh</h1>
    <a href="/users">Back Home</a>
    <form action='/users' method="POST">
        <input type="text" name="firsName" placeholder="Store Name">
        <br>
        <input type="text" name="lastName" placeholder="Store Address">
        <br>
        <input type="submit" value="Create New Store">
    </form>
</div>