<div>
    <h1>Become a New User, Bruh</h1>
    <a href="/users">Back Home</a>
    <form action='/users' method="POST">
        <input type="text" name="firsName" placeholder="First Name">
        <br>
        <input type="text" name="lastName" placeholder="Last Name">
        <br>
        <input type="text" name="username" placeholder="Username">
        <br>
        <input type="text" name="email" placeholder="Email">
        <br>
        <input type="text" name="photoUrl" placeholder="Photo URL">
        <br>
        <input type="submit" value="Create New User">
    </form>
</div>